header .contact-informations
{
    color:#09143A;
    font-size: 20px;
}
body
{
    background-color:white;
}
nav
{
    background-color:#09143A; 
}
.container-fluid a,#nav-links ul li a
{
    color: rgb(100,236,9);
}
.carousel-inner::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
.carousel-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 300px;
}

.carousel-caption
{
    margin-bottom: 150px;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
}
.carousel-caption p
{
    font-size: 20px;
}
.carousel-caption p a
{
   background-color: rgb(100,236,7);
   color: #09143A;
   border-color: rgb(100,236,7);
}


/* about member  */
.member-img
{
    width: 10rem;
    height: 10rem;
    background-color: red;
    display: none;
}
.member-img img 
{
    width: 100%;
    height: 100%;
}
.member-description
{
    font-size: 20px;
    text-align: left;
}
.member-description i 
{
    letter-spacing: 5px;
    text-align: center;
    font-size: 25px;
    color: rgb(100,236,7);
}
.member-description a:hover i 
{
    color: #09143A;
}

/* About footer */
footer
{
    background-color: #09143A;
    color:white;
}
footer .join a i
{
    font-size: 30px;
    margin-left: 1rem;
}